<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/works.css">
    <title>Experiências de Trabalho</title>
</head>
<body>
    <main class="container">
        <div class="wrapper">
            <h1 class="title">Projetos</h1>

            <div class="wrapper__projects" id="wrapper__projects">
                <h2>Aqui estão os últimos projetos desenvolvidos por mim com as mais
                    diversas tecnologias.
                </h2>
                <form action="/api/" method="get">
                    <button type="submit">Retornar para o início</button>
                </form>
                <div class="projects">
                    <% projects.forEach(project => {%>
                        <div class="card">
                            <%if (project.imgUrl != undefined) {%>
                                <div class="img"><img src="/images/projects/<%=project.imgUrl%>"  height="100%" width="100%"></div>
                            <%} else {%>
                                <div class="img"><img src="/images/social/github.png"  height="100%" width="100%"></div>
                            <%}%>
                            <div class="type"><%=project.type%></div>
                            <div class="title"><%=project.title%></div>
                            <a href="<%=project.link%>"><button>Ler mais</button></a>
                        </div>
                    <%});%>
                </div>
            </div>

            <div class="footer">
                <h2 class="em"><a href="mailto:jorgesoares87.jj@gmail.com">jorgesoares87.jj@gmail.com</a></h2>
                <h2> +55 (82) 99801-4278</h2>
                <div class="wrapper__social">
                    <a href="https://github.com/jorgesfj"><div class="github"></div></a>
                    <a href="https://www.linkedin.com/in/jorge-soares-farias/"><div class="linkedin"></div></a>
                    <a href="mailto:jorgesoares87.jj@gmail.com"><div class="gmail"></div></a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>